@tailwind base;
@tailwind components;
@tailwind utilities

.a {
  filter: none;
}

.Header {
  background: rgb(4, 165, 170);
  text-align: center;
  font-size: large;
  color: white;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:not(.disabled):hover {
  @apply bg-blue-700;
}
.btn-blue:disabled {
  cursor: not-allowed;
  @apply bg-blue-500;
}
