@tailwind base;
@tailwind components;
@tailwind utilities

.a {
  filter: none;
}

.Header {
  background: rgb(4, 165, 170);
  text-align: center;
  font-size: large;
  color: white;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:not(.disabled):hover {
  @apply bg-blue-700;
}
.btn-blue:disabled {
  cursor: not-allowed;
  @apply bg-blue-500;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
